.linkWrapper {
  display: flex;
  padding-left: 2rem;
  padding-top: 1rem;
  height: 4rem;
}

.divider {
  width: 7rem;
}

.avatar {
  margin-left: 25rem;
}
.title {
  padding-right: 12rem;
}
.fcButtonWrapper {
  padding-left: 2rem;
}

.brand {
  max-width: 250px;
  height: 120px;
}
