.dataTile {
  border-radius: 8px;
  margin: 1rem;
  max-width: 190px;
  max-height: 190px;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataValue {
  font-size: 36px;
}

.dataKey {
  font-size: 17px;
}
