.tableWrapper {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.headingWrapper {
  display: flex;
  flex-direction: row;
}

.tagline {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search {
  margin-left: 2rem;
  margin-top: -0.5rem;
}