@import "~antd/dist/antd.css";
@import "~leaflet/dist/leaflet.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.leaflet-container {
  height: 600px;
  margin: 5rem auto 0 auto;
  width: 80%;
}

.mapIcon {
  width: 10px;
  height: 10px;
  color: pink;
}

.main {
  display: flex;
  flex-flow: row-wrap;
  margin: 2.5rem 0 0 5rem;
}

.columnWrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.columnWrapper:nth-child(2) {
  margin-left: 9rem;
}
