.formWrapper {
  display: flex;
  flex-direction: column;
}

.submitButton {
  margin-top: 2rem;
  cursor: pointer;
  color: #adc6ff;
  background-color: #131629;
}

.formInput {
  width: 400px;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
}
